<template name="Thanks">
	{{!-- {{#if currentUser}}
		<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-logout>Logout</button>
	{{else}}
		{{#if loggingIn}}
			Logging in...
		{{else}}
			<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-login>Login with Facebook</button>
		{{/if}}
	{{/if}} --}}
	<div class="section-top">
  		<h1 class="text-center">Yeah</h1>
	</div>
	<div class="section-content text-center">
		<p>Thanks, and Enjoy!!</p>
	</div>
</template>
