<template name="Share">
	{{!-- {{#if currentUser}}
		<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-logout>Logout</button>
	{{else}}
		{{#if loggingIn}}
			Logging in...
		{{else}}
			<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-login>Login with Facebook</button>
		{{/if}}
	{{/if}} --}}
	<div class="section-top">
  		<h1 class="text-center">Logo</h1>
	</div>
	<div class="container-fluid">
		<div class="section-content text-center">
			<h2><span>Awesome</span>, you'll receive a confirmation really soon</h2>
		</div>
		<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-share>Share</button>
	</div>
</template>
