<template name="Confirmation">
	{{!-- {{#if currentUser}}
		<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-logout>Logout</button>
	{{else}}
		{{#if loggingIn}}
			Logging in...
		{{else}}
			<button type="button" class="btn btn-primary btn-lg btn-block login-button" data-login>Login with Facebook</button>
		{{/if}}
	{{/if}} --}}
	<div class="section-top">
  		<h1 class="text-center">Reminder</h1>
	</div>
	<div class="section-content text-center">
		<h2>TO TALK ABOUT</h2>
		<p>Euro 2016</p>
		<h2>AT</h2>
		<p>Cool Bun, St-Gilles</p>
		<h2>ON THE</h2>
		<p>14th November 2015 at 8pm</p>
	</div>
	<a href="#" data-confirm>
		<div class="section-cta text-center">
			<p>I Confirm!</p>
		</div>
	</a>
	<div class="text-center">
		<a href="#" class="text-center" data-cancel>No sorry...!</a>
	</div>
</template>
